@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Anta", sans-serif;
  background-image: url("./bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #002e4e;
  font-size: 18px;
}

.header h1 {
  text-decoration: underline;
  text-underline-offset: 10px;
  padding-bottom: 15px;
}
.container {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.form-content {
  width: 60%;
}

.note-txt-input {
  width: 100%;
  font-size: 16px;
  border: 1.5px solid #002e4e;
  padding: 0 10px;
  outline: none;
  border-radius: 5px;
  color: #002e4e;
}

.submit {
  width: 15%;
  font-size: 16px;
  background-color: #002e4e;
  color: #fff;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1.5px solid #002e4e;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit:active,
.reset-btn:active {
  background-color: #e27396;
  border-color: #fff;
}

.filter-input {
  width: 60%;
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #002e4e;
}
.note-txt-input::placeholder,
.filter-input::placeholder {
  color: rgba(0, 46, 78, 0.8);
  font-weight: bold;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}

.cross:hover {
  color: red;
}

.space-btw {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 5px;
}

ul button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#todo-notes {
  width: 60%;
}

#completed-notes {
  border-top: 2px solid #002e4e;
  width: 60%;
  padding: 10px;
}

.txt-linethrough {
  text-decoration: line-through;
}
#completed-notes ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.reset-btn {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #002e4e;
  outline: none;
  color: #fff;
  border: 1px solid #002e4e;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .container {
    width: 92%;
  }
}

@media (max-width: 800px) {
  .container {
    width: 94%;
  }
}

@media (max-width: 700px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 98%;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 100%;
  }
  .reset-btn {
    font-size: 14px;
  }

  .note-txt-input,
  .submit {
    font-size: 14px;
    height: 40px;
  }
}
